<h1>登録情報編集</h1>

<%= form_for @end_user, url: end_user_registration_path, method: :patch do |f| %>
  <div>
    <%= render "devise/shared/error_messages", resource: resource %>
  </div>

  <div class="field">
    <strong class="st1">名前</strong>
    <span class="st8">(姓)</span>
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
    <span class="st7">(名)</span>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
  </div>

  <div class="field">
    <strong class="st2">フリガナ</strong>
    <span>(セイ)</span>
    <%= f.text_field :kana_last_name, autofocus: true, autocomplete: "kana_last_name" %>
    <span>(メイ)</span>
    <%= f.text_field :kana_first_name, autofocus: true, autocomplete: "kana_first_name" %>
  </div>

  <div class="field">
    <strong class="st3">メールアドレス</strong>
    <%= f.text_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <strong class="st4">郵便番号(ハイフンなし)</strong>
    <%= f.text_field :post_code, autofocus: true, autocomplete: "post_code" %>
  </div>

  <div class="field">
    <strong class="st5">住所</strong>
    <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
  </div>

  <div class="field">
    <strong class="st6">電話番号(ハイフンなし)</strong>
    <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %>
  </div>

  <%= f.submit "編集内容を保存する", class: "btn btn-info btn-display btn-edit" %>

<% end %>

<%= button_to "退会する", confirm_end_users_path, class: "btn btn-danger btn-display", method: :get %>