<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="application.scss">
    </head>
    <body>
        <div class="container">
            <h1>配送先登録・一覧ページ</h1>

            <%= form_with(model: @address, local: true) do |f| %>
                <span>郵便番号(ハイフンなし)</span>
                <%= f.text_field :post_code %><br>

                <span>住所</span>
                <%= f.text_field :address %><br>

                <span>宛名</span>
                <%= f.text_field :name %><br>

                <%= f.submit '登録する', class: "btn btn-success" %>
            <% end %>
        </div>
    </body>
</html>