<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="application.scss">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-5">
                    <%= attachment_image_tag @item, :image, format: 'jpeg', size: "400x250", fallback: "noimage.jpeg"  %>
                </div>
                <div class="col-xs-7">
                    <h1 class="showitem"><%= @item.name %></h1>
                    <h4><%= @item.introduction %></h4>
                    <h3>¥<%= (@item.price * 1.08).round %> (税込)</h3>

                    <%= form_with model: @cart_item, local: true do |f| %>
                        <%= f.hidden_field :item_id, value: @item.id %>
                        <% if end_user_signed_in? %>
                            <%= f.hidden_field :end_user_id, value: current_end_user.id %>
                        <% end %>
                        <%= f.number_field :amount, min: 1 %>
                        <%= f.submit 'カートに入れる', class: "btn btn-info" %>
                    <% end %>
                </div>
            </div>
        </div>
    </body>
</html>